APP_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/stellar_pay

STELLAR_NETWORK=testnet

STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org

STELLAR_PAYMENT_ADDRESS=GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

WEBHOOK_SECRET=change-me

WEBHOOK_URL=https://example.com/webhooks/stellar-pay

STELLAR_CONTRACT_ID=CXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

STELLAR_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

STELLAR_ONCHAIN_WRITER_SECRET=SXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

REDIS_URL=redis://localhost:6379
